/* Layout general */
.layout {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Asegura que el layout ocupe toda la altura de la pantalla */
}

/* Ajuste del contenedor del contenido y header */
.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header styles */
.header {
  background-color: #f2f2f2;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #242424;
}

.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Menu button for mobile */
.menuButton {
  font-size: 24px;
  background: transparent;
  border: none;
  color: #242424;
  position: fixed;
  top: 0px;
  left: 20px;
  z-index: 1010;
  cursor: pointer;
  display: none; /* Solo visible en pantallas pequeñas */
}

/* Oculta el botón cuando el menú está abierto */
.menuButton.hidden {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .headerTitleContainer {
    margin-left: 4px;
  }

  .headerIcon {
    display: none;
  }

  .menuButton {
    display: block; /* Muestra el botón de menú en pantallas pequeñas */
  }

  .contentWrapper {
    margin-left: 0; /* No espacio extra para el sidebar en pantallas pequeñas */
  }
}

@media (min-width: 769px) {
  .menuButton {
    display: none; /* Oculta el botón de menú en pantallas grandes */
  }

  .contentWrapper {
    margin-left: 250px; /* Deja espacio para el sidebar en pantallas grandes */
  }
}
