.menu-content {
    margin: 4px;
    padding: 5px;
}

.menu-button {
    width: 100%;
    padding: 10px 10px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    border: 1px solid #183B57 !important;
    border-radius: 6px !important;
    text-align: left;
    cursor: pointer;
    color: #183B57;
    font-size: 14px;
    font-weight: 600;
}

.menu-button:hover {
    background-color: #183B57;
    color: #fff !important;
}

.menu-button:focus {
    outline: none;
    background-color: #b9cbe4;
}

.optionText {
}

