.menu-content {
    margin: 4px !important;
}

.menu-button {
    width: 100%;
    padding: 10px 10px;
    background-color: transparent;
    font-weight: 500;
    transition: background-color 0.2s ease;
    border: 1px solid #CED4DA !important;
    border-radius: 6px !important;
    text-align: left;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #e1dfdd;
}

.menu-button:focus {
    outline: none;
    background-color: #e1dfdd;
}
